{% extends 'store/extends/base_category_detail.html' %}
{% load static %}
{% block category %}
    <div class="home">
        <div class="home_container">
            <div class="home_background"
                 style="background-image:url({% static 'images/categories.jpg' %})"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title">{{ category.name }}<span>.</span></div>
                                <div class="home_text"><p>
                                    {% autoescape off %}{{ category.description }}{% endautoescape %}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block products_in_categories %}
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Product Sorting -->
                <div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
                    <div class="results">Showing <span>12</span> results</div>
                    <div class="sorting_container ml-md-auto">
                        <div class="sorting">
                            <ul class="item_sorting">
                                <li>
                                    <span class="sorting_text">Sort by</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <ul>
                                        <li class="product_sorting_btn"
                                            data-isotope-option='{ "sortBy": "original-order" }'><span>Default</span>
                                        </li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'>
                                            <span>Price</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'>
                                            <span>Name</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="product_grid">

                    <!-- Product -->
                    {% for product in products %}
                        <div class="product">
                            <div class="product_image"><img src="{{ product.photo.url }}" alt=""></div>
                            <div class="product_extra product_new"><a href="category_detail.html">New</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="{{ product.get_absolute_url }}">{{ product.product_name }}</a></div>
                                <div class="product_price">${{ product.unit_price }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Icon Boxes -->
{% endblock %}