<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter_border"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="newsletter_content text-center">
                    <div class="newsletter_title">Subscribe to our newsletter</div>
                    <div class="newsletter_text"><p>Если вы хотите получать уведомления о скидках - вы можете
                        подписаться на нашу рассылку</p></div>
                    <div class="newsletter_form_container">
                        <form action="{% url 'store:mailing-app' %}" id="newsletter_form" class="newsletter_form"
                              method="post">
                            {% csrf_token %}
                            {#                            <input type="email" class="newsletter_input" required="required">#}
                            {{ mailing_form.as_p }}
                            <button class="newsletter_button trans_200"><span>Подписаться</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>